* {margin: 0; padding: 0;}

body {
	background-color: #F1F1F1;
}

#rodape {
	height: 50px;
	width: 100%;
	background-color: #002244;
	border-color: #002244;
	border-style: solid;
}

#rodape2 {
	height: 7px;
	width: 100%;
	background-color: #69BE28;
	border-color: #69BE28;
	box-shadow: 2px 2px 5px #ccc;
}

#logo {
	width: 100px;
	height: 40px;
	margin-left: 10px;
	margin-top: 5px;
}

#tab {
	margin-top: -43px;
	margin-left:200px;
}

.nav {
	float: left;
	width: 150px;
}

.nav td {
	list-style: none;
	background: #002244;
	color: black;
	font-family: sans-serif;
}

.nav td a {
	display: block;
	padding: 8px;
	text-decoration: none;
	color: white;
}

#frmbusca {
	float: right;
	margin-right: 200px;
	margin-top: -30px;
}

#texto {
	width: 200px;
}

#sair {
	color: #69BE28;
	float: right;
	margin-right: 80px;
	margin-top: -27px;
	text-decoration: none;
}