* {margin: 0; padding: 0;}

body {
	background-color: #F1F1F1;
}

#rodape {
	height: 50px;
	width: 100%;
	background-color: #002244;
	border-color: #002244;
	border-style: solid;
}

#rodape2 {
	height: 7px;
	width: 100%;
	background-color: #69BE28;
	border-color: #69BE28;
	box-shadow: 2px 2px 5px #ccc;
}

table {
	margin-left:100px;
}

.nav {
	float: left;
	width: 150px;
}

.nav td {
	list-style: none;
	background: #002244;
	color: black;
	font-family: sans-serif;
}

.nav td a {
	display: block;
	padding: 8px;
	text-decoration: none;
	color: white;
}

.nav td ul a:hover {
	border-left: 4px solid #69BE28;
}

.sub {
	display: none;
	list-style: none;
}

.nav td:hover .sub {
	display: block;
	width: 300px;
	position: fixed;
}

.nav td:hover .sub li {
	background: gray;
}

form {
	width: 300px;
	float: right;
	margin-right:100px;
	margin-top: -27px;
}

#texto {
	width: 200px;
}